@-webkit-keyframes active-nav {
		from {
				width: 0;
		}
		to {
				width: 100%;
		}
}
@keyframes active-nav {
		from {
				width: 0;
		}
		to {
				width: 100%;
		}
}
@-webkit-keyframes nav-open {
		from {
				width: 0;
		}
		to {
				width: 254px;
		}
}
@keyframes nav-open {
		from {
				width: 0;
		}
		to {
				width: 254px;
		}
}
@-webkit-keyframes nav-open-fade {
		from {
				width: 254px;
		}
		to {
				width: 0;
		}
}
@keyframes nav-open-fade {
		from {
				width: 254px;
		}
		to {
				width: 0;
		}
}
@-webkit-keyframes bounce-in-top {
		0% {
				transform: translateY(-500px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
				opacity: 0;
		}
		38% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
				opacity: 1;
		}
		55% {
				transform: translateY(-65px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}
		72% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}
		81% {
				transform: translateY(-28px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}
		90% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}
		95% {
				transform: translateY(-8px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}
		100% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}
}
@keyframes bounce-in-top {
		0% {
				transform: translateY(-500px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
				opacity: 0;
		}
		38% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
				opacity: 1;
		}
		55% {
				transform: translateY(-65px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}
		72% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}
		81% {
				transform: translateY(-28px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}
		90% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}
		95% {
				transform: translateY(-8px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}
		100% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}
}
@-webkit-keyframes text-focus-in {
		0% {
				filter: blur(12px);
				opacity: 0;
		}
		100% {
				filter: blur(0px);
				opacity: 1;
		}
}
@keyframes text-focus-in {
		0% {
				filter: blur(12px);
				opacity: 0;
		}
		100% {
				filter: blur(0px);
				opacity: 1;
		}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
		nav {
				padding: 1.5rem;
		}
		nav .nav-menu {
				width: 1.5rem;
				height: 1.5rem;
				z-index: 5;
				transition: 0.2s ease;
		}
		nav .nav-menu-open {
				background: url("../assets/shared/icon-hamburger.svg") no-repeat;
		}
		nav .nav-menu-close {
				background: url("../assets/shared/icon-close.svg") no-repeat;
		}
		nav .nav-close {
				display: none;
		}
		nav .nav-list {
				display: none;
		}
		nav .nav-open {
				display: flex;
				position: absolute;
				flex-direction: column;
				list-style: none;
				right: 0;
				top: 0;
				height: 100vh;
				background: rgba(225, 225, 225, 0.04);
				-webkit-backdrop-filter: blur(40.7742px);
				        backdrop-filter: blur(40.7742px);
				padding: 118px 0 0 32px;
				-webkit-animation: nav-open 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
				animation: nav-open 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		}
		nav .nav-open-fade {
				-webkit-animation: nav-open-fade 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
				animation: nav-open-fade 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		}
		nav li {
				margin-bottom: 32px;
		}
		nav li a {
				font-family: "Barlow Condensed", sans-serif;
				font-style: normal;
				font-weight: 400;
				font-size: 1rem;
				line-height: 19px;
				letter-spacing: 2.7px;
				color: #fff;
				text-decoration: none;
		}
		nav li a span {
				font-weight: 700;
				margin-right: 12px;
		}
		main {
				background: url("../assets/home/background-home-mobile.jpg") no-repeat;
				background-size: cover;
				background-position: center;
				height: 100vh;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				padding-top: 6rem;
		}
		main .main-title {
				padding: 0 24px;
		}
		main .main-title h4 {
				font-family: "Barlow Condensed", sans-serif;
				font-weight: 400;
				font-size: 1rem;
				line-height: 19px;
				text-align: center;
				letter-spacing: 2.7px;
				color: #d0d6f9;
		}
		main .main-title h1 {
				font-family: "Bellefair", serif;
				font-weight: 400;
				font-size: 5rem;
				line-height: 100px;
				text-align: center;
				color: #fff;
				margin: 16px 0;
		}
		main .main-title p {
				font-family: "Barlow Condensed", sans-serif;
				font-weight: 400;
				font-size: 15px;
				line-height: 25px;
				text-align: center;
				color: #d0d6f9;
		}
		.main-exp a {
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: "Bellefair", serif;
				font-size: 20px;
				letter-spacing: 1.25px;
				color: #0b0d17;
				text-transform: uppercase;
				text-decoration: none;
				background: #fff;
				width: 9.375rem;
				height: 9.375rem;
				border-radius: 50%;
				position: relative;
				transition: box-shadow 0.4s ease-in-out;
				z-index: 1;
		}
		.main-exp a:hover {
				box-shadow: 0px 0px 0px 75px rgba(255, 255, 255, 0.1);
		}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
		body {
				background: #0b0d17;
		}
		main {
				background: url("../assets/home/background-home-tablet.jpg") no-repeat;
				background-size: cover;
				background-position: center;
		}
		.nav-menu {
				display: none;
		}
		nav .nav-list {
				display: flex;
				flex-direction: row;
				list-style: none;
				height: 6rem;
				padding-right: 13%;
				background: rgba(225, 225, 225, 0.04);
				-webkit-backdrop-filter: blur(40.7742px);
				        backdrop-filter: blur(40.7742px);
				align-items: center;
				justify-content: flex-start;
		}
		nav .nav-active {
				position: relative;
		}
		nav .nav-active::after {
				content: "";
				position: absolute;
				bottom: -37px;
				left: 0;
				width: 100%;
				height: 3px;
				background: #fff;
				-webkit-animation: active-nav 0.6s ease-in both;
				animation: active-nav 0.3s ease;
		}
		nav li a {
				position: relative;
		}
		nav li a::after {
				content: "";
				position: absolute;
				bottom: -37px;
				left: 0;
				width: 0;
				height: 3px;
				background: #fff;
				opacity: 0.5;
				transition: 0.1s width ease;
		}
		nav li a:hover::after {
				width: 100%;
		}
		nav li a span {
				display: none;
		}
		nav li {
				margin-right: 32px;
		}
		nav li:last-child {
				margin-right: 0;
		}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
		body {
				background: #0b0d17;
		}
		main .main-title {
				width: 450px;
				padding: 0;
		}
		main h4 {
				font-size: 20px;
				line-height: 24px;
				letter-spacing: 3.375px;
		}
		main h1 {
				font-size: 150px;
				line-height: 150px;
		}
		main p {
				font-size: 16px;
				line-height: 28px;
		}
		main .main-exp a {
				width: 242px;
				height: 242px;
				font-size: 32px;
				line-height: 37px;
				letter-spacing: 2px;
		}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
		.nav-list::before {
				content: "";
				position: absolute;
				width: calc((50vw - 50%) * 1.01);
				left: calc(-50vw + 51%);
				height: 1px;
				top: 48px;
				background: #fff;
				mix-blend-mode: normal;
				opacity: 0.25;
				z-index: 5;
		}
		main .main-title {
				width: 535px;
				padding: 0;
		}
		main .main-title h4 {
				font-size: 2rem;
				line-height: 24px;
				letter-spacing: 3.375px;
		}
		main .main-title h1 {
				font-size: 180px;
				line-height: 180px;
		}
		main .main-title p {
				font-size: 24px;
				line-height: 28px;
		}
		main .main-exp a {
				width: 270px;
				height: 270px;
				font-size: 40px;
				line-height: 37px;
				letter-spacing: 2px;
		}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
		nav {
				padding: 2.5rem 0 1.5rem 3.4375rem;
		}
		nav li a span {
				margin-right: 11px;
				display: inline-block;
		}
		main {
				background: url("../assets/home/background-home-desktop.jpg") no-repeat;
				background-size: cover;
				background-position: center;
				padding-bottom: 10%;
				flex-direction: row;
				align-items: flex-end;
		}
		main .main-title h4 {
				font-size: 28px;
				line-height: 34px;
				letter-spacing: 4.725px;
		}
		main .main-title h1 {
				font-size: 150px;
				line-height: 172px;
		}
		main .main-title p {
				font-size: 18px;
				line-height: 32px;
		}
}
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) *//*# sourceMappingURL=main-media.css.map */