@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
html {
		line-height: 1.15;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
}

body {
		margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
		display: block;
}

h1 {
		font-size: 2em;
		margin: 0.67em 0;
}

figcaption,
figure,
main {
		display: block;
}

figure {
		margin: 1em 40px;
}

hr {
		box-sizing: content-box;
		height: 0;
		overflow: visible;
}

pre {
		font-family: monospace, monospace;
		font-size: 1em;
}

a {
		background-color: transparent;
		-webkit-text-decoration-skip: objects;
}

abbr[title] {
		border-bottom: none;
		text-decoration: underline;
		-webkit-text-decoration: underline dotted;
		        text-decoration: underline dotted;
}

b,
strong {
		font-weight: inherit;
}

b,
strong {
		font-weight: bolder;
}

code,
kbd,
samp {
		font-family: monospace, monospace;
		font-size: 1em;
}

dfn {
		font-style: italic;
}

mark {
		background-color: #ff0;
		color: #000;
}

small {
		font-size: 80%;
}

sub,
sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
}

sub {
		bottom: -0.25em;
}

sup {
		top: -0.5em;
}

audio,
video {
		display: inline-block;
}

audio:not([controls]) {
		display: none;
		height: 0;
}

img {
		border-style: none;
}

svg:not(:root) {
		overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
		font-family: sans-serif;
		font-size: 100%;
		line-height: 1.15;
		margin: 0;
}

button,
input {
		overflow: visible;
}

button,
select {
		text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
		-webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
		border-style: none;
		padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
		outline: 1px dotted ButtonText;
}

fieldset {
		padding: 0.35em 0.75em 0.625em;
}

legend {
		box-sizing: border-box;
		color: inherit;
		display: table;
		max-width: 100%;
		padding: 0;
		white-space: normal;
}

progress {
		display: inline-block;
		vertical-align: baseline;
}

textarea {
		overflow: auto;
}

[type=checkbox],
[type=radio] {
		box-sizing: border-box;
		padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
		height: auto;
}

[type=search] {
		-webkit-appearance: textfield;
		outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
		-webkit-appearance: none;
}

::-webkit-file-upload-button {
		-webkit-appearance: button;
		font: inherit;
}

details,
menu {
		display: block;
}

summary {
		display: list-item;
}

canvas {
		display: inline-block;
}

template {
		display: none;
}

[hidden] {
		display: none;
}

*::-webkit-scrollbar {
		width: 16px;
}

*::-webkit-scrollbar-track {
		border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
		height: 56px;
		border-radius: 8px;
		border: 4px solid transparent;
		background-clip: content-box;
		background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
		background-color: #555;
}

@-webkit-keyframes active-nav {
		from {
				width: 0;
		}
		to {
				width: 100%;
		}
}
@keyframes active-nav {
		from {
				width: 0;
		}
		to {
				width: 100%;
		}
}
@-webkit-keyframes nav-open {
		from {
				width: 0;
		}
		to {
				width: 254px;
		}
}
@keyframes nav-open {
		from {
				width: 0;
		}
		to {
				width: 254px;
		}
}
@-webkit-keyframes nav-open-fade {
		from {
				width: 254px;
		}
		to {
				width: 0;
		}
}
@keyframes nav-open-fade {
		from {
				width: 254px;
		}
		to {
				width: 0;
		}
}
@-webkit-keyframes bounce-in-top {
		0% {
				transform: translateY(-500px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
				opacity: 0;
		}
		38% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
				opacity: 1;
		}
		55% {
				transform: translateY(-65px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}
		72% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}
		81% {
				transform: translateY(-28px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}
		90% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}
		95% {
				transform: translateY(-8px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}
		100% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}
}
@keyframes bounce-in-top {
		0% {
				transform: translateY(-500px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
				opacity: 0;
		}
		38% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
				opacity: 1;
		}
		55% {
				transform: translateY(-65px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}
		72% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}
		81% {
				transform: translateY(-28px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}
		90% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}
		95% {
				transform: translateY(-8px);
				-webkit-animation-timing-function: ease-in;
				animation-timing-function: ease-in;
		}
		100% {
				transform: translateY(0);
				-webkit-animation-timing-function: ease-out;
				animation-timing-function: ease-out;
		}
}
@-webkit-keyframes text-focus-in {
		0% {
				filter: blur(12px);
				opacity: 0;
		}
		100% {
				filter: blur(0px);
				opacity: 1;
		}
}
@keyframes text-focus-in {
		0% {
				filter: blur(12px);
				opacity: 0;
		}
		100% {
				filter: blur(0px);
				opacity: 1;
		}
}
*, *:after, *:before {
		margin: 0;
		box-sizing: border-box;
}

html, body {
		height: 100vh;
		width: 100%;
		font-family: "Barlow Condensed", sans-serif;
		font-size: 16px;
		background: #0b0d17;
}

.disable-planet {
		display: none !important;
}

nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 0 0 1.5rem 1.5rem;
		width: 100%;
		position: fixed;
		z-index: 2;
}
nav img {
		width: auto;
		height: auto;
}
nav a {
		font-family: "Barlow Condensed", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 1rem;
		line-height: 19px;
		letter-spacing: 2.7px;
		color: #fff;
		text-decoration: none;
}

main {
		background-size: cover;
		background-position: center;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding-top: 6rem;
}
main .main-title {
		padding: 0 24px;
}
main h4 {
		font-family: "Barlow Condensed", sans-serif;
		font-weight: 400;
		font-size: 1rem;
		line-height: 19px;
		text-align: center;
		letter-spacing: 2.7px;
		color: #d0d6f9;
}
main h1 {
		font-family: "Bellefair", serif;
		font-weight: 400;
		font-size: 5rem;
		line-height: 100px;
		text-align: center;
		color: #fff;
		margin: 16px 0;
}
main p {
		font-family: "Barlow Condensed", sans-serif;
		font-weight: 400;
		font-size: 15px;
		line-height: 25px;
		text-align: center;
		color: #d0d6f9;
}

.main-exp a {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "Bellefair", serif;
		font-size: 20px;
		letter-spacing: 1.25px;
		color: #0b0d17;
		text-transform: uppercase;
		text-decoration: none;
		background: #fff;
		width: 9.375rem;
		height: 9.375rem;
		border-radius: 50%;
		position: relative;
		transition: box-shadow 0.4s ease-in-out;
		z-index: 1;
}
.main-exp a:hover {
		box-shadow: 0px 0px 0px 75px rgba(255, 255, 255, 0.1);
}

#destination {
		background: url("../assets/destination/background-destination-mobile.jpg") no-repeat;
		background-size: cover;
		background-position: center;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 6rem 6.5%;
		color: #fff;
}
#destination h4 {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 2.7px;
		text-transform: uppercase;
		color: #fff;
}
#destination h4 span {
		margin-right: 18px;
		font-weight: 700;
		font-size: 1rem;
		opacity: 0.25;
}
#destination .destination_planet {
		margin-top: 32px;
		height: 170px;
}
#destination .destination_planet[data-planet=moon] {
		background: url("../assets/destination/image-moon.png") no-repeat;
		background-size: contain;
		background-position: center;
}
#destination .destination_planet[data-planet=mars] {
		background: url("../assets/destination/image-mars.png") no-repeat;
		background-size: contain;
		background-position: center;
}
#destination .destination_planet[data-planet=europa] {
		background: url("../assets/destination/image-europa.png") no-repeat;
		background-size: contain;
		background-position: center;
}
#destination .destination_planet[data-planet=titan] {
		background: url("../assets/destination/image-titan.png") no-repeat;
		background-size: contain;
		background-position: center;
}
#destination .destination_planet_animation {
		-webkit-animation: bounce-in-top 1.1s both;
		animation: bounce-in-top 1.1s both;
}
#destination .destination_main {
		margin-top: 26px;
}
#destination .destination_tabs {
		-webkit-animation: none;
		        animation: none;
}
#destination .destination_tabs ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-evenly;
}
#destination .destination_tabs ul li {
		display: inline-block;
		background: none;
		height: inherit;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 2.3625px;
		text-transform: uppercase;
		color: #d0d6f9;
		position: relative;
		cursor: pointer;
}
#destination .destination_tabs ul li::after {
		content: "";
		position: absolute;
		bottom: -8px;
		left: 0;
		width: 0;
		height: 3px;
		background: rgba(255, 255, 255, 0.5);
		z-index: 1;
		transition: 0.1s width ease;
}
#destination .destination_tabs ul li:hover::after {
		width: 100%;
}
#destination .destination_tabs ul .tab_active {
		color: #fff;
}
#destination .destination_tabs ul .tab_active::after {
		content: "";
		position: absolute;
		bottom: -8px;
		left: 0;
		width: 100%;
		height: 3px;
		z-index: 2;
		background: #fff;
		-webkit-animation: active-nav 0.6s ease-in both;
		animation: active-nav 0.3s ease;
}
#destination #moon h1, #destination #mars h1, #destination #europa h1, #destination #titan h1 {
		font-family: "Bellefair", serif;
		font-style: normal;
		font-weight: 400;
		font-size: 56px;
		line-height: 64px;
		text-transform: uppercase;
		margin-bottom: 0;
}
#destination #moon p, #destination #mars p, #destination #europa p, #destination #titan p {
		font-size: 15px;
		line-height: 25px;
		color: #d0d6f9;
		padding: 0 4%;
}
#destination #moon hr, #destination #mars hr, #destination #europa hr, #destination #titan hr {
		border: 1px solid #383B4B;
		margin: 32px 0;
}
#destination #moon table, #destination #mars table, #destination #europa table, #destination #titan table {
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		letter-spacing: 2.3625px;
		text-transform: uppercase;
		color: #d0d6f9;
		margin: 0 auto;
}
#destination #moon table tr, #destination #mars table tr, #destination #europa table tr, #destination #titan table tr {
		display: flex;
		flex-direction: column;
		align-items: center;
}
#destination #moon table th, #destination #mars table th, #destination #europa table th, #destination #titan table th {
		margin-bottom: 12px;
}
#destination #moon table td, #destination #mars table td, #destination #europa table td, #destination #titan table td {
		font-family: "Bellefair", serif;
		font-size: 28px;
		line-height: 32px;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 32px;
}
#destination .planet_animation h1 {
		-webkit-animation: text-focus-in 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
		        animation: text-focus-in 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
#destination .planet_animation p, #destination .planet_animation hr {
		-webkit-animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
		        animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
#destination .planet_animation th {
		-webkit-animation: text-focus-in 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
		        animation: text-focus-in 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
#destination .planet_animation td {
		-webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
		        animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}/*# sourceMappingURL=main.css.map */