@media screen and (max-width: 768px)
  body
    background: url("../assets/home/background-home-tablet.jpg") no-repeat
    background-size: cover
@media screen and (max-width: 375px)
  body
    background: url("../assets/home/background-home-mobile.jpg") no-repeat
    background-size: cover