@import 'variables'
@import "style"

*,*:after,*:before
  margin: 0
  box-sizing: border-box

html, body
  height: 100vh
  width: 100%
  font-family: $Bar
  font-size: 16px
  background: $dark
.disable-planet
  display: none!important
nav
  @include flexbox
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 0 0 1.5rem 1.5rem
  width: 100%
  position: fixed
  z-index: 2
  img
    width: auto
    height: auto
  a
    font-family: $Bar
    font-style: normal
    font-weight: 400
    font-size: 1rem
    line-height: 19px
    letter-spacing: 2.7px
    color: $white
    text-decoration: none
main
  background-size: cover
  background-position: center
  height: 100vh
  @include flexbox
  flex-direction: column
  align-items: center
  justify-content: space-around
  padding-top: 6rem
  .main-title
    padding: 0 24px
  h4
    font-family: $Bar
    font-weight: 400
    font-size: 1rem
    line-height: 19px
    text-align: center
    letter-spacing: 2.7px
    color: $sky
  h1
    font-family: $Bell
    font-weight: 400
    font-size: 5rem
    line-height: 100px
    text-align: center
    color: $white
    margin: 16px 0
  p
    font-family: $Bar
    font-weight: 400
    font-size: 15px
    line-height: 25px
    text-align: center
    color: $sky

.main-exp
  a
    @include flexbox()
    align-items: center
    justify-content: center
    font-family: $Bell
    font-size: 20px
    letter-spacing: 1.25px
    color: $dark
    text-transform: uppercase
    text-decoration: none
    background: $white
    width: 9.375rem
    height: 9.375rem
    border-radius: 50%
    position: relative
    transition: box-shadow .4s ease-in-out
    z-index: 1
    &:hover
      -webkit-box-shadow: 0px 0px 0px 75px rgba(255, 255, 255, 0.1)
      -moz-box-shadow: 0px 0px 0px 75px rgba(255, 255, 255, 0.1)
      box-shadow: 0px 0px 0px 75px rgba(255, 255, 255, 0.1)

#destination
  background: url("../assets/destination/background-destination-mobile.jpg") no-repeat
  background-size: cover
  background-position: center
  height: 100vh

  @include flexbox
  flex-direction: column
  align-items: center
  text-align: center
  padding: 6rem 6.5%
  color: $white
  h4
    font-weight: 400
    font-size: 16px
    line-height: 19px
    letter-spacing: 2.7px
    text-transform: uppercase
    color: $white
    span
      margin-right: 18px
      font-weight: 700
      font-size: 1rem
      opacity: .25
  .destination_planet
    margin-top: 32px
    height: 170px
    &[data-planet="moon"]
      background: url("../assets/destination/image-moon.png") no-repeat
      background-size: contain
      background-position: center

    &[data-planet="mars"]
      background: url("../assets/destination/image-mars.png") no-repeat
      background-size: contain
      background-position: center

    &[data-planet="europa"]
      background: url("../assets/destination/image-europa.png") no-repeat
      background-size: contain
      background-position: center

    &[data-planet="titan"]
      background: url("../assets/destination/image-titan.png") no-repeat
      background-size: contain
      background-position: center

    &_animation
      -webkit-animation: bounce-in-top 1.1s both
      animation: bounce-in-top 1.1s both

  .destination_main
    margin-top: 26px
    // animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both
  .destination_tabs
    ul
      list-style: none
      padding: 0
      margin: 0
      @include flexbox
      justify-content: space-evenly
      li
        display: inline-block
        background: none
        height: inherit
        font-size: 14px
        line-height: 17px
        letter-spacing: 2.3625px
        text-transform: uppercase
        color: $sky
        position: relative
        cursor: pointer
        &::after
          content: ''
          position: absolute
          bottom: -8px
          left: 0
          width: 0
          height: 3px
          background: rgba(255, 255, 255, .5)
          z-index: 1
          transition: .1s width ease
        &:hover::after
          width: 100%
      .tab_active
        color: $white
        &::after
          content: ''
          position: absolute
          bottom: -8px
          left: 0
          width: 100%
          height: 3px
          z-index: 2
          background: #fff
          -webkit-animation: active-nav 0.6s ease-in both
          animation: active-nav .3s ease
  #moon,#mars,#europa,#titan
    h1
      font-family: $Bell
      font-style: normal
      font-weight: 400
      font-size: 56px
      line-height: 64px
      text-transform: uppercase
      margin-bottom: 0
    p
      font-size: 15px
      line-height: 25px
      color: $sky
      padding: 0 4%
    hr
      border: 1px solid #383B4B
      margin: 32px 0
    table
      font-size: 14px
      line-height: 17px
      text-align: center
      letter-spacing: 2.3625px
      text-transform: uppercase
      color: $sky
      margin: 0 auto
      tr
        @include flexbox
        flex-direction: column
        align-items: center
      th
        margin-bottom: 12px
      td
        font-family: $Bell
        font-size: 28px
        line-height: 32px
        text-transform: uppercase
        color: $white
        margin-bottom: 32px
    .destination_table
      font-size: 14px
      line-height: 17px
      text-align: center
      letter-spacing: 2.3625px
      text-transform: uppercase
      color: $sky
      margin: 0 auto
      .info
        p
          margin-bottom: 12px
        h5
          font-family: $Bell
          font-weight: 400
          font-size: 28px
          line-height: 32px
          text-transform: uppercase
          color: $white
          margin-bottom: 32px
  .planet_animation
    // .destination_tabs
    animation: text-focus-in .6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both
    h1
      animation: text-focus-in .7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both
    p,hr
      animation: text-focus-in .8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both
    .destination_table
      animation: text-focus-in .9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both
